/* header style start */
body{
    font-family: 'Poppins', sans-serif;
}
header{
    height: 700px;
    display: flex;
    background-color: rgb(16, 18, 165);
}
header:hover .football-shoot img{
    transform: scale(1.1);
    transition: transform .5s;
}

.main-header h1{
    font-size: 70px;
    color: rgb(255, 255, 255);
}
.main-header .live-button{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(201, 10, 10);
    padding: 15px 35px 15px 20px;
}
.main-header .live-button:hover{
    transform: scale(1.02) translate(10px);
    transition: transform .5s;
}

header:hover .fas{
    transform: scale(1.1) translate(10px);
    transition: transform .5s;
}
.main-header{
    margin: 40px 0 0 200px;
    width: 50%;
}
/* header image part */
.football-shoot img{
    width: 65%;
    margin: 5% 15% 0 15%;
    margin-top: 5%;
}